/* --- iPhone 4 and 4S --- */
/* --- Portrait and Landscape */
@media only screen
  and (min-device-width:320px)
  and (max-device-width:480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* --- Portrait --- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-ratio:2)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* --- Landscape --- */
@media only screen
  and (min-device-width:320px)
  and (max-device-width:480px)
  and (-webkit-min-device-pixel-ratio:2)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}
/* --- End iPhone 4 and 4S --- */

/* --- iPhone 5 and 5S --- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .contact {
    line-height: 30px;
  }

  .contact p {
    font-size: 15px;
  }

  .contact h1 {
    font-size: 35px;
    padding-top: 30% !important;
    padding-bottom:5% !important;
  }

  .work-sec h1 {
    font-size: 40px;
  }

  .about p {
    font-size: 20px;
  }

  .img-steve {
    display: none !important;
  }

  .mouse {
    display: none !important;
  }

  .quote-steve p {
    font-size: 25px;
    line-height: 50px;
  }

  .img-steve-hide {
    display: block !important;
  }
}

/* --- Portrait --- */
@media only screen
  and (min-device-width:320px)
  and (max-device-width:568px)
  and (-webkit-min-device-pixel-ratio:2)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* --- Landscape --- */
@media only screen
  and (min-device-width:320px)
  and (max-device-width:568px)
  and (-webkit-min-device-pixel-ratio:2)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}
/* --- End iPhone 5 and 5S --- */


/* --- iPhone 6+ --- */
/* --- Portrait and Landscape --- */
@media only screen
  and (min-device-width:414px)
  and (max-device-width:736px)
  and (-webkit-min-device-pixel-ratio:3) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* --- Portrait --- */
@media only screen
  and (min-device-width:414px)
  and (max-device-width:736px)
  and (-webkit-min-device-pixel-ratio:3)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* --- Landscape --- */
@media only screen
  and (min-device-width:414px)
  and (max-device-width:736px)
  and (-webkit-min-device-pixel-ratio:3)
  and (orientation: Landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}
/* --- End iPhone 6+ --- */

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media
  (min-device-width: 800px)
  and (max-device-width: 1280px) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media
  (max-device-width: 800px)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media
  (max-device-width: 1280px)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Portrait */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: portrait) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}

/* Landscape */
@media screen
  and (device-width: 601px)
  and (device-height: 906px)
  and (-webkit-min-device-pixel-ratio: 1.331)
  and (-webkit-max-device-pixel-ratio: 1.332)
  and (orientation: landscape) {
    .contact {
      line-height: 30px;
    }

    .contact p {
      font-size: 15px;
    }

    .contact h1 {
      font-size: 35px;
      padding-top: 30% !important;
      padding-bottom:5% !important;
    }

    .work-sec h1 {
      font-size: 40px;
    }

    .about p {
      font-size: 20px;
    }

    .img-steve {
      display: none !important;
    }

    .mouse {
      display: none !important;
    }

    .quote-steve p {
      font-size: 25px;
      line-height: 50px;
    }

    .img-steve-hide {
      display: block !important;
    }
}
