@font-face {
  font-family: Kepler;
  src: url('../fonts/KeplerStd-Regular.ttf');
}
@font-face {
  font-family: Kepler-Thn;
  src: url('../fonts/KeplerStd-LightDisp.ttf');
}

body {
  background: #FFF;
  color: #5a5a5a;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kepler', sans-serif;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

header {
  background: url(../img/header-b1.jpg) no-repeat center top;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ececec;
}

header img {
  padding-top: 10px;
  width: 100px;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-content .header-content-inner h1 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  color: #ececec;
  font-size: 16px;
  margin-bottom: 50px;
  font-family: Kepler-Thn;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }

  header img {
    padding-top: 20px;
    width: 230px;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }

  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  header .header-content .header-content-inner h1{
    font-size: 80px;
    letter-spacing: 8px;
  }

  header .header-content .header-content-inner p {
    font-size: 25px;
    max-width: 80%;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Kepler-Thn';
  }
}

.quote-steve {
  margin-top: 5%;
}

.img-steve {
  width: 450px;
}

.blockquote-reverse {
  margin-top: 10%;
  font-family: Kepler-Thn;
}

.blockquote-reverse p {
  font-size: 50px;
}

.blockquote-reverse footer {
  font-size: 30px;
}

.about {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #ebebeb;
  text-align: center;
  font-family: 'Kepler-Thn';
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 50px;
}

.contact {
  background: url(../img/oil-copy.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-sizr:cover;
  background-size: cover;
  height: 400px;
  text-align: center;
}

.contact h1 {
  font-size: 65px;
  color: #ECECEC;
  font-style: italic;
  font-family: 'Kepler-Thn';
  text-align: center;
  padding-top: 5% !important;
}

.contact p {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: #FFF;
}

.contact a {
  color: #19B5FE;
}

.right-half li {
  list-style-type: none;
}

.sliding-u-l-r {
display: inline-block;
}
.sliding-u-l-r:after {
content: '';
display: block;
height: 2px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
.sliding-u-l-r:hover:after {
width: 100%;
background: #19B5FE;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.rem-space-children > * {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.skill-section {
  background-color: #ebebeb;
  padding-top: 3%;
  padding-bottom: 3%;

}

.skill-section h1 {
  font-family: 'Kepler-Thn';
  font-size: 50px;
  text-align: center;
}

.skill-section img {
  text-align: center;
  padding-top: 3%;
  margin-right: 2.3%;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.img-center {
  margin: 0 auto;
}

.work-sec h1 {
  text-align: center;
  font-family: 'Kepler-Thn';
  font-size: 70px;
}

.social-media {
  font-size: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.screenshots ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.screenshots ul li {
    float: left;
    min-height: 100%;
    width: 25%;
    background-color: #535a6c;
    list-style: none;
}
.screenshots figure {
    position: relative;
    overflow: hidden;
}
.screenshots figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figure:hover img, .screenshots figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.screenshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figcaption a {
    color: #fff;
    line-height: 40px;
    font-size: 30px;
}
.screenshots figcaption a:hover, .screenshots figcaption a:focus {
    color: #19B5FE;
}
.screenshots figure:hover figcaption, .screenshots figure:focus figcaption {
    opacity: 1
}
.visible {
    opacity: 1
}
.screenshots figure.cs-hover figcaption {
    opacity: 1
}
.screenshots figcaption i {
    font-size: 35px
}
.screenshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.screenshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.screenshots figure:hover figcaption .caption-content, .screenshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 50px;
  width: 1px;
  margin-left: 50px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 50px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.img-steve-hide {
  display: none !important;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .contact {
    line-height: 30px;
  }

  .contact p {
    font-size: 15px;
  }

  .contact h1 {
    font-size: 35px;
    padding-top: 30% !important;
    padding-bottom:5% !important;
  }

  .work-sec h1 {
    font-size: 40px;
  }

  .about p {
    font-size: 20px;
  }

  .img-steve {
    display: none !important;
  }

  .mouse {
    display: none !important;
  }

  .quote-steve p {
    font-size: 25px;
    line-height: 50px;
  }

  .img-steve-hide {
    display: block !important;
  }
}
